@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div class="page-header">
    <h3 class="page-title">
        <span class="page-title-icon bg-gradient-primary text-white mr-2">
            <i class="mdi mdi-home"></i>
        </span> Thống kê
    </h3>
    @*<nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">
                <span></span>Overview <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
            </li>
        </ul>
    </nav>*@
</div>
@*<div class="row">
    <div class="col-md-4 stretch-card grid-margin">
        <div class="card bg-gradient-danger card-img-holder text-white">
            <div class="card-body">
                <h4 class="font-weight-normal mb-3">
                    Weekly Sales <i class="mdi mdi-chart-line mdi-24px float-right"></i>
                </h4>
                <h2 class="mb-5">$ 15,0000</h2>
                <h6 class="card-text">Increased by 60%</h6>
            </div>
        </div>
    </div>
    <div class="col-md-4 stretch-card grid-margin">
        <div class="card bg-gradient-info card-img-holder text-white">
            <div class="card-body">
                <h4 class="font-weight-normal mb-3">
                    Weekly Orders <i class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
                </h4>
                <h2 class="mb-5">45,6334</h2>
                <h6 class="card-text">Decreased by 10%</h6>
            </div>
        </div>
    </div>
    <div class="col-md-4 stretch-card grid-margin">
        <div class="card bg-gradient-success card-img-holder text-white">
            <div class="card-body">
                <h4 class="font-weight-normal mb-3">
                    Visitors Online <i class="mdi mdi-diamond mdi-24px float-right"></i>
                </h4>
                <h2 class="mb-5">95,5741</h2>
                <h6 class="card-text">Increased by 5%</h6>
            </div>
        </div>
    </div>
</div>*@
<div class="row">
    <div class="col-md-7 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="clearfix">
                    <h4 class="card-title float-left">Biểu đồ doanh thu năm 2025 của LUNA Hotel</h4>
                    @*<select id="selectYear">
                        <option value="2025" selected>2025</option>
                        <option value="2024">2024</option>
                        <!-- Thêm các option khác nếu cần -->
                    </select>*@
                    <div id="visit-sale-chart-legend" class="rounded-legend legend-horizontal legend-top-right float-right"></div>
                </div>
                <canvas id="myChart" width="400" height="400"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-5 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Thống kê trạng thái đơn hàng</h4>
                <canvas id="orderStatusChart"></canvas>
                <div id="traffic-chart-legend" class="rounded-legend legend-vertical legend-bottom-left pt-4"></div>
            </div>
        </div>
    </div>
</div>
@*<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Recent Tickets</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th> Assignee </th>
                                <th> Subject </th>
                                <th> Status </th>
                                <th> Last Update </th>
                                <th> Tracking ID </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <img src="assets/images/faces/face1.jpg" class="mr-2" alt="image"> David Grey
                                </td>
                                <td> Fund is not recieved </td>
                                <td>
                                    <label class="badge badge-gradient-success">DONE</label>
                                </td>
                                <td> Dec 5, 2017 </td>
                                <td> WD-12345 </td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="assets/images/faces/face2.jpg" class="mr-2" alt="image"> Stella Johnson
                                </td>
                                <td> High loading time </td>
                                <td>
                                    <label class="badge badge-gradient-warning">PROGRESS</label>
                                </td>
                                <td> Dec 12, 2017 </td>
                                <td> WD-12346 </td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="assets/images/faces/face3.jpg" class="mr-2" alt="image"> Marina Michel
                                </td>
                                <td> Website down for one week </td>
                                <td>
                                    <label class="badge badge-gradient-info">ON HOLD</label>
                                </td>
                                <td> Dec 16, 2017 </td>
                                <td> WD-12347 </td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="assets/images/faces/face4.jpg" class="mr-2" alt="image"> John Doe
                                </td>
                                <td> Loosing control on server </td>
                                <td>
                                    <label class="badge badge-gradient-danger">REJECTED</label>
                                </td>
                                <td> Dec 3, 2017 </td>
                                <td> WD-12348 </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>*@
@*<div class="row">
    <div class="col-md-7 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Project Status</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th> # </th>
                                <th> Name </th>
                                <th> Due Date </th>
                                <th> Progress </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td> 1 </td>
                                <td> Herman Beck </td>
                                <td> May 15, 2015 </td>
                                <td>
                                    <div class="progress">
                                        <div class="progress-bar bg-gradient-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td> 2 </td>
                                <td> Messsy Adam </td>
                                <td> Jul 01, 2015 </td>
                                <td>
                                    <div class="progress">
                                        <div class="progress-bar bg-gradient-danger" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td> 3 </td>
                                <td> John Richards </td>
                                <td> Apr 12, 2015 </td>
                                <td>
                                    <div class="progress">
                                        <div class="progress-bar bg-gradient-warning" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td> 4 </td>
                                <td> Peter Meggik </td>
                                <td> May 15, 2015 </td>
                                <td>
                                    <div class="progress">
                                        <div class="progress-bar bg-gradient-primary" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td> 5 </td>
                                <td> Edward </td>
                                <td> May 03, 2015 </td>
                                <td>
                                    <div class="progress">
                                        <div class="progress-bar bg-gradient-danger" role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td> 5 </td>
                                <td> Ronald </td>
                                <td> Jun 05, 2015 </td>
                                <td>
                                    <div class="progress">
                                        <div class="progress-bar bg-gradient-info" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title text-white">Todo</h4>
                <div class="add-items d-flex">
                    <input type="text" class="form-control todo-list-input" placeholder="What do you need to do today?">
                    <button class="add btn btn-gradient-primary font-weight-bold todo-list-add-btn" id="add-task">Add</button>
                </div>
                <div class="list-wrapper">
                    <ul class="d-flex flex-column-reverse todo-list todo-list-custom">
                        <li>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="checkbox" type="checkbox"> Meeting with Alisa
                                </label>
                            </div>
                            <i class="remove mdi mdi-close-circle-outline"></i>
                        </li>
                        <li class="completed">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="checkbox" type="checkbox" checked> Call John
                                </label>
                            </div>
                            <i class="remove mdi mdi-close-circle-outline"></i>
                        </li>
                        <li>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="checkbox" type="checkbox"> Create invoice
                                </label>
                            </div>
                            <i class="remove mdi mdi-close-circle-outline"></i>
                        </li>
                        <li>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="checkbox" type="checkbox"> Print Statements
                                </label>
                            </div>
                            <i class="remove mdi mdi-close-circle-outline"></i>
                        </li>
                        <li class="completed">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="checkbox" type="checkbox" checked> Prepare for presentation
                                </label>
                            </div>
                            <i class="remove mdi mdi-close-circle-outline"></i>
                        </li>
                        <li>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="checkbox" type="checkbox"> Pick up kids from school
                                </label>
                            </div>
                            <i class="remove mdi mdi-close-circle-outline"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
*@
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    // Mã JavaScript để vẽ biểu đồ và lấy dữ liệu
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6', 'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'],
            datasets: [{
                label: '# of Votes',
                data: [12, 19, 3, 5, 2, 3, 1,8,7,6,4,4],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 99, 132, 0.4)',
                    'rgba(54, 162, 235, 0.4)',
                    'rgba(255, 206, 86, 0.4)',
                    'rgba(75, 192, 192, 0.4)',
                    'rgba(153, 102, 255, 0.4)',
                    'rgba(255, 159, 64, 0.4)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });

    // Định nghĩa hàm để gửi AJAX request khi trang được tải, lấy năm mặc định khi tải trang là 2024
    function getDoanhThuForDefaultYear() {
        // Lấy giá trị năm mặc định là 2024
        var defaultYear = "2025";

        // Gửi AJAX request với giá trị năm mặc định
        $.ajax({
            url: '/admin/admin/DoanhThu',
            type: 'GET',
            data: { yearSelected: defaultYear },
            dataType: 'json',
            success: function (data) {
                // Xử lý dữ liệu trả về
                // Cập nhật dữ liệu biểu đồ với dữ liệu mới
                myChart.data.labels = data.map(function (item) {
                    return item.x;
                });
                myChart.data.datasets[0].data = data.map(function (item) {
                    return item.y;
                });
                myChart.update();
                console.log(data);
            },
            error: function (error) {
                console.log(error);
            }
        });
    }

    // Gọi hàm khi trang được tải
    $(document).ready(function () {
        getDoanhThuForDefaultYear(); // Gửi AJAX request khi trang được tải
    });


    $('#selectYear').change(function () {
        // Lấy giá trị năm từ select option
        var selectedYear = $(this).val();
            // Mã AJAX để lấy dữ liệu từ biểu đồ
        $.ajax({
            url: '/admin/admin/DoanhThu',
            type: 'GET',
            data: { yearSelected: selectedYear }, // Truyền giá trị năm vào trong request
            dataType: 'json',
            success: function (data) {
                // Cập nhật dữ liệu biểu đồ với dữ liệu mới
                myChart.data.labels = data.map(function (item) {
                    return item.x;
                });
                myChart.data.datasets[0].data = data.map(function (item) {
                    return item.y;
                });
                myChart.update();
                console.log(data);
            },
            error: function (error) {
                console.log(error);
            }
        });
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Lấy dữ liệu biểu đồ từ server khi trang được tải
        fetchDataForChart(2025);
    });

    function fetchDataForChart(selectedYear) {
        // Mã AJAX để lấy dữ liệu từ biểu đồ
        $.ajax({
            url: '/admin/admin/GetOrderStatusData',
            type: 'GET',
            data: { yearSelected: selectedYear }, // Truyền giá trị năm vào trong request
            dataType: 'json',
            success: function (data) {
                // Tạo biểu đồ tròn
                const ctx = document.getElementById('orderStatusChart').getContext('2d');
                const orderStatusChart = new Chart(ctx, {
                    type: 'pie',
                    data: {
                        labels: ['Chưa xác nhận', 'Đã xác nhận', 'Hoàn tất', 'Huỷ'],
                        datasets: [{
                            data: data.map(function (item) {
                                return item.y;
                            }),
                            backgroundColor: [
                                '#36a2eb',  // Màu 1
                                '#ff6384',  // Màu 2
                                '#4bc0c0',  // Màu 3
                                '#ffcd56'   // Màu 4
                            ]
                        }]
                    },
                    options: {
                        responsive: true,
                        plugins: {
                            title: {
                                display: true,
                                text: 'Thống kê đơn hàng'
                            }
                        }
                    }
                });

                console.log(data);
            },
            error: function (error) {
                console.log(error);
            }
        });
    }

    $('#selectYear').change(function () {
        // Lấy giá trị năm từ select option
        var selectedYear = $(this).val();
        // Gọi hàm fetchDataForChart với năm đã chọn
        fetchDataForChart(selectedYear);
    });

</script>

@*<script>
    document.addEventListener('DOMContentLoaded', function () {
        //// Dữ liệu mẫu về số đơn đã duyệt và từ chối
        //const approvedOrders = 25;
        //const rejectedOrders = 25;

        //// Tạo biểu đồ tròn
        //const ctx = document.getElementById('orderStatusChart').getContext('2d');
        //const orderStatusChart = new Chart(ctx, {
        //    type: 'pie',
        //    data: {
        //        labels: ['Hoàn tất', 'Đã xác nhận', 'Chưa xác nhận', 'Huỷ'],
        //        datasets: [{
        //            data: [approvedOrders, rejectedOrders],
        //            backgroundColor: [
        //                '#36a2eb',  // Màu 1
        //                '#ff6384',  // Màu 2
        //                '#4bc0c0',  // Màu 3
        //                '#ffcd56'   // Màu 4
        //            ]
        //        }]
        //    },
        //    options: {
        //        responsive: true,
        //        plugins: {
        //            title: {
        //                display: true,
        //                text: 'Thống kê đơn hàng'
        //            }
        //        }
        //    }
        //});

        $('#selectYear').change(function () {
            // Lấy giá trị năm từ select option
            var selectedYear = $(this).val();
            // Mã AJAX để lấy dữ liệu từ biểu đồ
            $.ajax({
                url: '/admin/admin/GetOrderStatusData',
                type: 'GET',
                data: { yearSelected: selectedYear }, // Truyền giá trị năm vào trong request
                dataType: 'json',
                success: function (data) {
                    // Tạo biểu đồ tròn
                    const ctx = document.getElementById('orderStatusChart').getContext('2d');
                    const orderStatusChart = new Chart(ctx, {
                        type: 'pie',
                        data: {
                            labels: ['Hoàn tất', 'Đã xác nhận', 'Chưa xác nhận', 'Huỷ'],
                            datasets: [{
                                data: data.map(function (item) {
                                    return item.y;
                                }),
                                backgroundColor: [
                                    '#36a2eb',  // Màu 1
                                    '#ff6384',  // Màu 2
                                    '#4bc0c0',  // Màu 3
                                    '#ffcd56'   // Màu 4
                                ]
                            }]
                        },
                        options: {
                            responsive: true,
                            plugins: {
                                title: {
                                    display: true,
                                    text: 'Thống kê đơn hàng'
                                }
                            }
                        }
                    });

                    console.log(data);
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });
    });
</script>*@