@{
    Layout = null;
}

@model TaiKhoan

<!DOCTYPE HTML>
<html lang="en">

<!-- Mirrored from easybook.kwst.net/dashboard-myprofile.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 25 Jan 2024 09:16:58 GMT -->
<head>
    <!--=============== basic  ===============-->
    <meta charset="UTF-8">
    <title>LUNA Hotel Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="robots" content="index, follow" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <!--=============== css  ===============-->
    <link type="text/css" rel="stylesheet" href="../LayoutHotel/css/reset.css">
    <link type="text/css" rel="stylesheet" href="../LayoutHotel/css/plugins.css">
    <link type="text/css" rel="stylesheet" href="../LayoutHotel/css/style.css">
    <link type="text/css" rel="stylesheet" href="../LayoutHotel/css/color.css">
    <!--=============== favicons ===============-->
    <link rel="shortcut icon" href="../LayoutHotel/images/favicon.ico">
    <style>
        body {
            background-color: #544537;
        }

        .main-header, .footer-inner {
            background-color: #544537;
        }

        .suggestions-list {
            position: absolute;
            background-color: #fff;
            border-top: 1px solid #ccc;
            list-style-type: none;
            width: 100%;
            max-height: 200px;
            overflow-y: auto;
            z-index: 1000;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            top: 100%;
            border-radius: 2px;
        }

            .suggestions-list li {
                padding: 15px;
                cursor: pointer;
                text-align: left;
                height: 100%;
                border-bottom: 1px solid #ccc;
            }

                .suggestions-list li i {
                    padding-left: 10px;
                    padding-right: 10px;
                    color: blue;
                }

                .suggestions-list li:hover {
                    background-color: #F9B90F;
                }
    </style>
</head>
<body>
    <!--loader-->
    <div class="loader-wrap">
        <div class="pin">
            <div class="pulse"></div>
        </div>
    </div>
    <!--loader end-->
    <!-- Main  -->
    <div id="main">
        <!-- header-->
        @await Html.PartialAsync("_PartialHeader")
        <!--  header end -->
        <!--  wrapper  -->
        <div id="wrapper">
            <!-- content-->
            <div class="content">
                <!-- section-->
                <section class="flat-header color-bg adm-header">
                    <div class="wave-bg wave-bg2"></div>
                    <div class="container">
                        <div class="dasboard-wrap fl-wrap">
                            <div class="dasboard-breadcrumbs breadcrumbs"><a href="/home/index">Trang chủ</a><span>Chỉnh sửa trang cá nhân</span></div>
                            <!--dasboard-sidebar-->
                            <div class="dasboard-sidebar">
                                <div class="dasboard-sidebar-content fl-wrap">
                                    <div class="dasboard-avatar">
                                        <img src="@Url.Content("~/Images/taikhoan/"+Model.Anh)" alt="">
                                    </div>
                                    <div class="dasboard-sidebar-item fl-wrap">
                                        <h3>
                                            <span>Chào mừng </span>
                                            @Model.HoTen
                                        </h3>
                                    </div>
                                    @*<a href="dashboard-add-listing.html" class="ed-btn">Add Hotel</a>*@
                                    @*<div class="user-stats fl-wrap">
                                    <ul>
                                    <li>
                                    Listings
                                    <span>4</span>
                                    </li>
                                    <li>
                                    Bookings
                                    <span>32</span>
                                    </li>
                                    <li>
                                    Reviews
                                    <span>9</span>
                                    </li>
                                    </ul>
                                    </div>*@
                                    <a href="/account/logout" class="log-out-btn color-bg">Đăng xuất <i class="far fa-sign-out"></i></a>
                                </div>
                            </div>
                            <!--dasboard-sidebar end-->
                            <!-- dasboard-menu-->
                            <div class="dasboard-menu">
                                <div class="dasboard-menu-btn color3-bg">Dashboard Menu <i class="fal fa-bars"></i></div>
                                <ul class="dasboard-menu-wrap">
                                    <li>
                                        <a href="#" class="user-profile-act"><i class="far fa-user"></i>Hồ sơ</a>
                                        <ul>
                                            <li><a href="/accountdetail/thongtintaikhoan?id=@Model.Id">Chỉnh sửa trang cá nhân</a></li>
                                            <li><a href="/accountdetail/doimatkhau?id=@Model.Id">Thay đổi mật khẩu</a></li>
                                        </ul>
                                    </li>
                                    @*<li><a href="dashboard-messages.html"><i class="far fa-envelope"></i> Messages <span>3</span></a></li>
                                    <li>
                                        <a href="dashboard-listing-table.html"><i class="far fa-th-list"></i> My listigs  </a>
                                        <ul>
                                            <li><a href="#">Active</a><span>5</span></li>
                                            <li><a href="#">Pending</a><span>2</span></li>
                                            <li><a href="#">Expire</a><span>3</span></li>
                                        </ul>
                                    </li>*@
                                    <li><a href="/accountdetail/lichsudatphong?id=@Model.Id"> <i class="far fa-calendar-check"></i> Lịch sử đặt phòng @*<span>2</span>*@</a></li>
                                    @*<li><a href="dashboard-review.html"><i class="far fa-comments"></i> Reviews </a></li>*@
                                </ul>
                            </div>
                            <!--dasboard-menu end-->
                            <!--Tariff Plan menu-->
                            <div class="tfp-btn"><span>Tariff Plan : </span> <strong>Extended</strong></div>
                            <div class="tfp-det">
                                <p>You Are on <a href="#">Extended</a> . Use link bellow to view details or upgrade. </p>
                                <a href="#" class="tfp-det-btn color2-bg">Details</a>
                            </div>
                            <!--Tariff Plan menu end-->
                        </div>
                    </div>
                </section>
                <!-- section end-->
                <!-- section-->
                <section class="middle-padding">
                    @RenderBody()
                </section>
                <div class="limit-box fl-wrap"></div>
            </div>
            <!-- content end-->
        </div>
        <!--wrapper end -->
        <!--footer -->
        @await Html.PartialAsync("_PartialFooter")
        <!--footer end -->
        <!--map-modal -->
        <div class="map-modal-wrap">
            <div class="map-modal-wrap-overlay"></div>
            <div class="map-modal-item">
                <div class="map-modal-container fl-wrap">
                    <h3>Hotel Title</h3>
                    <div class="map-modal fl-wrap">
                        <div id="singleMap" data-latitude="40.7" data-longitude="-73.1"></div>
                    </div>
                    <a href="#" class="btn color2-bg">View Details <i class="fal fa-angle-right"></i></a>
                    <div class="map-modal-close"><i class="far fa-times"></i></div>
                </div>
            </div>
        </div>
        <!--map-modal end -->
        <!--register form -->
        <div class="main-register-wrap modal">
            <div class="reg-overlay"></div>
            <div class="main-register-holder">
                <div class="main-register fl-wrap">
                    <div class="close-reg color-bg"><i class="fal fa-times"></i></div>
                    <ul class="tabs-menu">
                        <li class="current"><a href="#tab-1"><i class="fal fa-sign-in-alt"></i> Login</a></li>
                        <li><a href="#tab-2"><i class="fal fa-user-plus"></i> Register</a></li>
                    </ul>
                    <!--tabs -->
                    <div id="tabs-container">
                        <div class="tab">
                            <!--tab -->
                            <div id="tab-1" class="tab-content">
                                <h3>Sign In <span>Easy<strong>Book</strong></span></h3>
                                <div class="custom-form">
                                    <form method="post" name="registerform">
                                        <label>Username or Email Address <span>*</span> </label>
                                        <input name="email" type="text" onClick="this.select()" value="">
                                        <label>Password <span>*</span> </label>
                                        <input name="password" type="password" onClick="this.select()" value="">
                                        <button type="submit" class="log-submit-btn"><span>Log In</span></button>
                                        <div class="clearfix"></div>
                                        <div class="filter-tags">
                                            <input id="check-a" type="checkbox" name="check">
                                            <label for="check-a">Remember me</label>
                                        </div>
                                    </form>
                                    <div class="lost_password">
                                        <a href="#">Lost Your Password?</a>
                                    </div>
                                </div>
                            </div>
                            <!--tab end -->
                            <!--tab -->
                            <div class="tab">
                                <div id="tab-2" class="tab-content">
                                    <h3>Sign Up <span>Easy<strong>Book</strong></span></h3>
                                    <div class="custom-form">
                                        <form method="post" name="registerform" class="main-register-form" id="main-register-form2">
                                            <label>Full Name <span>*</span> </label>
                                            <input name="name" type="text" onClick="this.select()" value="">
                                            <label>Email Address <span>*</span></label>
                                            <input name="email" type="text" onClick="this.select()" value="">
                                            <label>Password <span>*</span></label>
                                            <input name="password" type="password" onClick="this.select()" value="">
                                            <button type="submit" class="log-submit-btn"><span>Register</span></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!--tab end -->
                        </div>
                        <!--tabs end -->
                        <div class="log-separator fl-wrap"><span>or</span></div>
                        <div class="soc-log fl-wrap">
                            <p>For faster login or register use your social account.</p>
                            <a href="#" class="facebook-log"><i class="fab fa-facebook-f"></i>Connect with Facebook</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--register form end -->
        <a class="to-top"><i class="fas fa-caret-up"></i></a>
    </div>
    <!-- Main end -->
    <!--=============== scripts  ===============-->
    <script type="text/javascript" src="../LayoutHotel/js/jquery.min.js"></script>
    <script type="text/javascript" src="../LayoutHotel/js/plugins.js"></script>
    <script type="text/javascript" src="../LayoutHotel/js/scripts.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwJSRi0zFjDemECmFl9JtRj1FY7TiTRRo&amp;libraries=places&amp;callback=initAutocomplete"></script>
</body>

<!-- Mirrored from easybook.kwst.net/dashboard-myprofile.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 25 Jan 2024 09:16:58 GMT -->
</html>