<footer class="main-footer">
    <!--subscribe-wrap-->
    <div class="subscribe-wrap color-bg  fl-wrap">
        <div class="container">
            <div class="sp-bg"> </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="subscribe-header">
                        <h3>Đăng ký</h3>
                        <p>Muốn được thông báo khi chúng tôi tung ra mẫu mới hoặc bản cập nhật. Chỉ cần đăng ký và chúng tôi sẽ gửi cho bạn thông báo qua email.</p>
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <div class="footer-widget fl-wrap">
                        <div class="subscribe-widget fl-wrap">
                            <div class="subcribe-form">
                                <form id="subscribe">
                                    <input class="enteremail fl-wrap" name="email" id="subscribe-email" placeholder="Nhập vào email của bạn" spellcheck="false" type="text">
                                    <button type="submit" id="subscribe-button" class="subscribe-button"><i class="fas fa-rss-square"></i> Đăng ký</button>
                                    <label for="subscribe-email" class="subscribe-message"></label>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wave-bg"></div>
    </div>
    <!--subscribe-wrap end -->
    <!--footer-inner-->
    <div class="footer-inner">
        <div class="container">
            <!--footer-fw-widget-->
            <div class="footer-fw-widget fl-wrap">
                <div class="row">
                    <div class="col-md-3">
                        <div class="footer-carousel-title">
                            Cộng sự của chúng tôi
                        </div>
                    </div>
                    <div class="col-md-9">
                        <!--footer-carousel-wrap-->
                        <div class="footer-carousel-wrap fl-wrap">
                            <div class="footer-carousel fl-wrap">
                                <!--footer-carousel-item-->
                                <div class="footer-carousel-item">
                                    <a href="#"><img src="../LayoutHotel/images/partners/1.png" alt=""></a>
                                </div>
                                <!--footer-carousel-item end-->
                                <!--footer-carousel-item-->
                                <div class="footer-carousel-item">
                                    <a href="#"><img src="../LayoutHotel/images/partners/2.png" alt=""></a>
                                </div>
                                <!--footer-carousel-item end-->
                                <!--footer-carousel-item-->
                                <div class="footer-carousel-item">
                                    <a href="#"><img src="../LayoutHotel/images/partners/3.png" alt=""></a>
                                </div>
                                <!--footer-carousel-item end-->
                                <!--footer-carousel-item-->
                                <div class="footer-carousel-item">
                                    <a href="#"><img src="../LayoutHotel/images/partners/4.png" alt=""></a>
                                </div>
                                <!--footer-carousel-item end-->
                                <!--footer-carousel-item-->
                                <div class="footer-carousel-item">
                                    <a href="#"><img src="../LayoutHotel/images/partners/5.png" alt=""></a>
                                </div>
                                <!--footer-carousel-item end-->
                                <!--footer-carousel-item-->
                                <div class="footer-carousel-item">
                                    <a href="#"><img src="../LayoutHotel/images/partners/6.png" alt=""></a>
                                </div>
                                <!--footer-carousel-item end-->
                            </div>
                            <div class="fc-cont  fc-cont-prev"><i class="fal fa-angle-left"></i></div>
                            <div class="fc-cont  fc-cont-next"><i class="fal fa-angle-right"></i></div>
                        </div>
                        <!--footer-carousel-wrap end-->
                    </div>
                </div>
            </div>
            <!--footer-fw-widget end-->
            <div class="row">
                <!--footer-widget -->
                <div class="col-md-4">
                    <div class="footer-widget fl-wrap">
                        <h3>Về chúng tôi</h3>
                        <div class="footer-contacts-widget fl-wrap">
                            <p>LUNA Hotel tọa lạc tại trung tâm thành phố, mang đến sự tiện nghi và thoải mái cao cấp cho du khách. Với kiến trúc hiện đại, trang trí tinh tế và dịch vụ đẳng cấp như nhà hàng sang trọng, phòng gym, spa và hồ bơi, LUNA Hotel hứa hẹn mang đến trải nghiệm tuyệt vời. Đội ngũ nhân viên chuyên nghiệp luôn sẵn sàng phục vụ, đảm bảo sự hài lòng cho mọi khách hàng. Hãy đến và cảm nhận sự khác biệt tại LUNA Hotel. </p>
                            <ul class="footer-contacts fl-wrap">
                                <li><span><i class="fal fa-envelope"></i> Mail :</span><a href="#" target="_blank">vuhuuhao1902@gmail.com</a></li>
                                <li> <span><i class="fal fa-map-marker-alt"></i> Địa chỉ :</span><a href="#" target="_blank">Cầu Giấy, Hà Nội</a></li>
                                <li><span><i class="fal fa-phone"></i> Số điện thoại :</span><a href="#">(+84)37 73234414</a></li>
                            </ul>
                            <div class="footer-social">
                                <span>Tìm chúng tôi qua : </span>
                                <ul>
                                    <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="fab fa-vk"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--footer-widget end-->
                <!--footer-widget -->
                <div class="col-md-4">
                    <div class="footer-widget fl-wrap">
                        <h3>Tin tức cuối cùng của chúng tôi</h3>
                        <div class="widget-posts fl-wrap">
                            <ul>
                                <li class="clearfix">
                                    <a href="#" class="widget-posts-img"><img src="../LayoutHotel/images/all/1.jpg" class="respimg" alt=""></a>
                                    <div class="widget-posts-descr">
                                        <a href="#" title="">Vivamus dapibus rutrum</a>
                                        <span class="widget-posts-date"> 21 Mar 09.05 </span>
                                    </div>
                                </li>
                                <li class="clearfix">
                                    <a href="#" class="widget-posts-img"><img src="../LayoutHotel/images/all/2.jpg" class="respimg" alt=""></a>
                                    <div class="widget-posts-descr">
                                        <a href="#" title=""> In hac habitasse platea</a>
                                        <span class="widget-posts-date"> 7 Mar 18.21 </span>
                                    </div>
                                </li>
                                <li class="clearfix">
                                    <a href="#" class="widget-posts-img"><img src="../LayoutHotel/images/all/3.jpg" class="respimg" alt=""></a>
                                    <div class="widget-posts-descr">
                                        <a href="#" title="">Tortor tempor in porta</a>
                                        <span class="widget-posts-date"> 7 Mar 16.42 </span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--footer-widget end-->
                <!-- footer-widget  -->
                <div class="col-md-4">
                    <div class="footer-widget fl-wrap ">
                        <h3>Liên kết hữu ích</h3>
                        <ul class="footer-list fl-wrap">
                            <li><a href="#">Về công ty chúng tôi</a></li>
                            <li><a href="#">Tin tức cuối cùng của chúng tôi</a></li>
                            <li><a href="#">Gói giá</a></li>
                            <li><a href="#">Trung tâm trợ giúp</a></li>
                            <li><a href="#">Liên lạc</a></li>
                        </ul>
                        <a href="#" class=" down-btn color3-bg fl-wrap"><i class="fab fa-apple"></i>  Apple Store </a>
                        <a href="#" class=" down-btn color3-bg fl-wrap"><i class="fab fa-android"></i>  Google Play </a>
                    </div>
                </div>
                <!-- footer-widget end-->
            </div>
            <div class="clearfix"></div>
            <!--footer-widget -->
            <div class="footer-widget">
                <div class="row">
                    <div class="col-md-4"><a class="contact-btn color-bg" href="contacts.html">Liên lạc<i class="fal fa-envelope"></i></a></div>
                    <div class="col-md-8">
                        <div class="customer-support-widget fl-wrap">
                            <h4>Hỗ trợ khách hàng : </h4>
                            <a href="#" class="cs-mumber">(+84)37 3234414</a>
                            <a href="#" class="cs-mumber-button color2-bg">Gọi ngay <i class="far fa-phone-volume"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--footer-widget end -->
        </div>
    </div>
    <!--footer-inner end -->
    <div class="footer-bg">
    </div>
    <!--sub-footer-->
    <div class="sub-footer">
        <div class="container">
            <div class="copyright"> &#169; LUNA Hotel 2024 .  Đã đăng ký Bản quyền.</div>
            <div class="subfooter-lang">
                <div class="subfooter-show-lang"><span>Việt</span><i class="fa fa-caret-up"></i></div>
                <ul class="subfooter-lang-tooltip">
                    <li><a href="#">Dutch</a></li>
                    <li><a href="#">Italian</a></li>
                    <li><a href="#">French</a></li>
                    <li><a href="#">Spanish</a></li>
                </ul>
            </div>
            <div class="subfooter-nav">
                <ul>
                    <li><a href="#">Điều khoản sử dụng</a></li>
                    <li><a href="#">Chính sách bảo mật</a></li>
                    <li><a href="#">Blog</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--sub-footer end -->
</footer>