@model DATN_LUNA_HOTEL.Models.TienNghi
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using DATN_LUNA_HOTEL.Models

@{
    ViewData["Title"] = "FormCreateUpdateUser";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@functions {
    QuanLyKhachSanContext db = new QuanLyKhachSanContext();
    public bool getActiveAccount(string ten_dang_nhap)
    {
        var trangThai = (from u in db.TaiKhoans
                         where u.TenDangNhap == ten_dang_nhap
                         select u.TrangThai).FirstOrDefault();
        if (trangThai == true)
        {
            return true;
        }
        return false;
    }
}

@*<style>
    .AnhDaiDien {
        height: 215px;
        width: 215px;
        border-radius: 50%; /* Làm tròn hình ảnh */
        object-fit: cover; /* Đảm bảo hình ảnh không bị vỡ khi làm tròn */
    }

    form {
        display: flex;
        justify-content: space-around;
    }

    .left {
        min-height: 320px;
    }

    .right {
        padding-left: 15px;
    }

    .form-control {
        border-radius: 5px;
        /*border: 1px solid #ccc;*/
        padding: 8px;
        transition: all 0.3s ease;
    }

        .form-control:focus {
            outline: none;
            border-color: #3498db; /* Màu viền khi input được focus */
            box-shadow: 0 0 5px rgba(52, 152, 219, 0.5); /* Hiệu ứng shadow khi focus */
        }

    .tieude {
        text-align: center;
    }

    .left .form-group {
        display: flex;
        justify-content: center;
    }

    .left, .right {
        background-color: white;
        padding: 20px;
        box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);
        border-radius: 0.25rem;
    }

    .control-label {
        font-weight: bolder !important;
    }

    .form-group input {
        border: 1px solid black;
    }
</style>*@

<hr />

<div class="row">
    <form action="@ViewBag.action" method="post" enctype="multipart/form-data" onsubmit="return validateForm()">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="TenTienNghi" class="control-label">Tên tiện nghi</label>
                <input asp-for="TenTienNghi" name="tenTienNghi" class="form-control" placeholder="Nhập tên tiện nghi" />
                <span asp-validation-for="TenTienNghi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IconTienNghi" class="control-label">Icon tiện nghi</label>
                <input asp-for="IconTienNghi" name="iconTienNghi" class="form-control" type="text" placeholder="Nhập icon tiện nghi" />
                <span asp-validation-for="IconTienNghi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-primary" />
            </div>

    </form>
</div>

<div class="row mt-4">
    <div class="col text-center">
        <a href="/admin/tiennghi/danhmuctiennghi" class="btn btn-secondary">Trở về trang chủ</a>
    </div>
</div>

<script>
    // Hàm kiểm tra validation của form trước khi gửi
    function validateForm() {
        // Lấy giá trị của các trường trong form
        var TenTienNghi = document.getElementById('TenTienNghi').value;
        var IconTienNghi = document.getElementById('IconTienNghi').value;

        // Kiểm tra xem các trường có được nhập đầy đủ không
        if (TenTienNghi == "" || IconTienNghi == "" ) {
            alert("Vui lòng điền đầy đủ thông tin");
            return false; // Ngăn chặn việc gửi form
        }

        // Các kiểm tra khác có thể được thêm vào ở đây

        // Nếu các kiểm tra thành công, cho phép gửi form
        return true;
    }
</script>